<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userMapper" >
    <select id="getUser" resultType="com.app.energyconsumptionmanagement.bean.User" parameterType="com.app.energyconsumptionmanagement.bean.User">
      select * from user where 1=1
        <if test="username!=null and username!='' and qq==''">
          and username=#{username}
        </if>
        <if test="qq!=null and qq!=''">
            and qq=#{qq}
        </if>
        <if test="phone!=null and phone!=''">
            and phone=#{phone}
        </if>
        <if test="email!=null and email!=''">
            and email=#{email}
        </if>
    </select>
    <insert id="addUser" parameterType="com.app.energyconsumptionmanagement.bean.User">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
        INSERT into user(userName,passWord,phone,email,sign,avatar,qq)
        VALUES(#{username},#{passWord},#{phone},#{email},#{sign},#{avatar},#{qq})
    </insert>
    <update id="updUser" parameterType="com.app.energyconsumptionmanagement.bean.User">
        update user set passWord=#{passWord} where phone=#{phone}
    </update>
</mapper>